All used libraries are show imported in the following code block.

In [3]:
import scipy.stats as stats
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [4]:
%run Data_Cleaning.ipynb

,Airline,Airline ID,Source Airport,Source Airport ID,Destination Airport,Destination Airport ID,Codeshare,Stops,Equipment
count,67663,67663,67663,67663,67663,67663,14597,67663.000000,67645
unique,568,548,3409,3321,3418,3327,1,NaN,3925
top,FR,4296,ATL,3682,ATL,3682,Y,NaN,320
freq,2484,2484,915,915,911,911,14597,NaN,9180
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000163,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.012749,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67663 entries, 0 to 67662
Data columns (total 9 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Airline                 67663 non-null  object
 1   Airline ID              67663 non-null  object
 2   Source Airport          67663 non-null  object
 3   Source Airport ID       67663 non-null  object
 4   Destination Airport     67663 non-null  object
 5   Destination Airport ID  67663 non-null  object
 6   Codeshare               14597 non-null  object
 7   Stops                   67663 non-null  int64
 8   Equipment               67645 non-null  object
dtypes: int64(1), object(8)
memory usage: 4.6+ MB

None

         name iso_code dafif_code Unnamed: 3
count     261      261        261          2
unique    259      241        260          2
top     India       \N         BQ
freq        2       19          2          1

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 261 entries, 0 to 260
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        261 non-null    object
 1   iso_code    261 non-null    object
 2   dafif_code  261 non-null    object
 3   Unnamed: 3  2 non-null      object
dtypes: object(4)
memory usage: 8.3+ KB

None

          name iso_code dafif_code Unnamed: 3
33       India       IN         BS        NaN
101  Palestine       PS         GZ        NaN
112      India       IN         IN        NaN
252  Palestine       PS         WE        NaN

NameError: name 'test' is not defined

NameError: name 'test' is not defined

Below are some useful definitions that will be used later in the analysis of the data.

In [ ]:

def t_test(group1, group2):
    # Perform the t-test
    t_statistic, p_value = stats.ttest_ind(group1, group2)

    # Print the results
    print("T-statistic:", t_statistic)
    print("P-value:", p_value)

    # Interpret the results
    alpha = 0.05  # Significance level
    if p_value < alpha:
        print("Reject the null hypothesis: There is a significant difference between the groups.")
    else:
        print("Fail to reject the null hypothesis: There is no significant difference between the groups.")

    return(t_statistic, p_value)



def linear_regression(data, features, target):
    X = data[features]
    y = data[target]

    # Create a linear regression model
    model = LinearRegression()

    # Fit the model to the data
    model.fit(X, y)

    # Get coefficients, intercept, and R-squared
    coefficients = model.coef_
    intercept = model.intercept_
    r_squared = model.score(X, y)

    # Print the results
    print("Coefficients", coefficients)
    print("Intercept", intercept)
    print("R-Squared", r_squared)

    return coefficients, intercept, r_squared

def logistic_regression(dataset, features, target, test_size=0.2, random_state=42): # Note random state will always be set to 42 in our analysis
    # Load and prepare data
    X = data[features]
    y = data[target]

    # Split data into training and testing sets
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=test_size, random_state=random_state)

    # Create a logistic regression model
    model = LogisticRegression()

    # Fit the model to the training data
    model.fit(X_train, y_train)

    # Make predictions on the test data
    y_pred = model.predict(X_test)

    # Evaluate the model
    confusion = confusion_matrix(y_test, y_pred)

    # Print the results
    print("Confusion Matrix", confusion)

    return confusion

Below are some definitions for basic visuals that can be used.

In [ ]:
def stacked_bar_chart(data, categories, category_labels, colors=None, title=None, xlabel=None, ylabel=None, legend_labels=None):

    # Create figure and axis
    fig, ax = plt.subplots()

    # Number of categories
    num_categories = len(categories)

    # Set default colors if not provided
    if colors is None:
        colors = plt.cm.Paired(range(num_categories))

    # Initialize bottom values for stacking
    bottom = [0] * len(data[0])

    # Plot each category as a stacked bar
    for i in range(num_categories):
        ax.bar(category_labels, data[i], bottom=bottom, label=legend_labels[i] if legend_labels else None, color=colors[i])
        bottom = [bottom[j] + data[i][j] for j in range(len(data[i]))]

    # Add title, label, legend
    if title:
        ax.set_title(title)
    if xlabel:
        ax.set_xlabel(xlabel)
    if ylabel:
        ax.set_ylabel(ylabel)
    if legend_labels:
        ax.legend()

    return fig

def histogram(data, bins=10, color='blue', title=None, xlabel=None, ylabel=None):
    # Create figure and axis
    fig, ax = plt.subplots()

    # Plot the histogram
    ax.hist(data, bins=bins, color=color)

    # Add title and labels
    if title:
        ax.set_title(title)
    if xlabel:
        ax.set_xlabel(xlabel)
    if ylabel:
        ax.set_ylabel(ylabel)

    return fig

def create_scatterplot(x, y, color='blue', title=None, xlabel=None, ylabel=None):
    # Create figure and axis
    fig, ax = plt.subplots()

    # Plot the scatterplot
    ax.scatter(x, y, color=color)

    # Add title and label
    if title:
        ax.set_title(title)
    if xlabel:
        ax.set_xlabel(xlabel)
    if ylabel:
        ax.set_ylabel(ylabel)

    return fig